<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/slide3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/slide2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/slide4.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>


        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
        <!-- card ya kwanza -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb- shadow-sm">
                <img class="responsive" src="" class="pc"/>
                <div class=" card-body">
                    <div class= "card-title">
                        <h2>This title</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
                </div>
            </div>
        </div>
    
         <!-- card ya pili -->
         <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb- shadow-sm">
                <img class="responsive" src="assets/images/pweza.jpg" class="pc"/>
                <div class=" card-body">
                    <div class= "card-title">
                        <h2>This title</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
                </div>
            </div>
        </div>
    
          <!-- card ya tatu -->
    
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb- shadow-sm">
                <img class="responsive" src="assets/images/4.jpg" class="pc"/>
                <div class=" card-body">
                    <div class= "card-title">
                        <h2>This is title</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- mwisho wa row ya kwanza -->
    
    <div class="row mt-5">
        <!-- card ya kwanza -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb- shadow-sm">
                <img claa="responsive" src="assets/images/MWANI.jpg" class="pc"/>
                <div class=" card-body">
                    <div class= "card-title">
                        <h2>This is title</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
                </div>
            </div>
        </div>
    
         <!-- card ya pili -->
         <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb- shadow-sm">
                <img class="responsive" src="assets/images/wavuvi.jpg" class="pc"/>
                <div class=" card-body">
                    <div class= "card-title">
                        <h2>This is title</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
                </div>
            </div>
        </div>
    
          <!-- card ya tatu -->
    
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb- shadow-sm">
                <img class="responsive" src="assets/images/majongoo.jpg" class="pc"/>
                <div class=" card-body">
                    <div class= "card-title">
                        <h2>This is title</h2>
                    </div>
    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- mwisho wa row ya pili -->
    
    
    
        
    </div>
    





</div>
