<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <form >
                    <label>Hospital name:</label>
                    <input type="text" name="name" id="hospita" class="form-control">

                    <label>Email address:</label>
                    <input type="email" name="name" id="email" class="form-control">

                    <label>Password:</label>
                    <input type="password" name="name" id="password" class="form-control">

                    <label>Re-type password:</label>
                    <input type="password" name="name" id="hospita" class="form-control">

                    <button class="btn btn-primary mt-3 w-100">Create account</button>
                </form>
            </div>
        </div>
    </div>
</div>
