<div class="container mt-5">
    <p class="h2 text-center text-danger">Hospital Registration To be Our Member</p>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4">
                <form>
                    <label>Hospiatal name:</label>
                    <input type="text" name="name" id="hospital" class="form-control">

                    <label>Address:</label>
                    <input type="text" name="name" id="hospital" class="form-control">

                    <label>Email address:</label>
                    <input type="email" name="name" id="hospital" class="form-control"> <br>

                    <label>Membership type:</label> <br>
                    <input type="radio" name="name" id="hospital" class="mx-2">Private
                    <input type="radio" name="name" id="hospital" class="mx-2">Government <br> <br>

                    <label>Date of registration:</label>
                    <input type="date" name="name" id="date" class="form-control">

                    <button mat-raised-button color="primary" class="w-100 mt-3">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>