<div class="container mt-5">
    <div class="row">
        <p class="h2 text-center text-primary">Hospital request table</p>
       
        <div class="card p-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Hospital name</th>
                        <th>Blood-group</th>
                        <th>Amount</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Haruna</td>
                        <td>12-4-2002</td>
            
                        <td>
                            <button class="btn btn-success">Edit</button>
                            <button class="btn btn-primary mx-2">View</button>
                            <button class="btn btn-danger mx-2">Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


