<div class="container mt-5">
    <div class="row">
        <p class="h2 text-center text-primary">Doner table</p>
       
        <div class="card p-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sn</th>
                        <th>Name</th>
                        <th>Date of birth</th>
                        <th>mariage status</th>
                        <th>Nationality</th>
                        <th>Phone number</th>
                        <th>Email address</th>
                        <th>Image</th>
                        <th>Reasorn</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Haruna</td>
                        <td>12-4-2002</td>
                        <td>single</td>
                        <td>tanzania</td>
                        <td>077777777</td>
                        <td>fahad@gmail.com</td>
                        <td>--</td>
                        <td>Voluntier</td>
                        <td>
                            <button class="btn btn-success">Edit</button>
                            <button class="btn btn-primary mx-2">View</button>
                            <button class="btn btn-danger mx-2">Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

