<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-3">
                <form >
            <label>ZanId</label>
            <input type="number" name="name" id="name" class="form-control">
            
            <select class="form-select form-select-sm mt-2" aria-label=".form-select-sm example">
                <option selected>Blood group </option>
                <option value="1">A+</option>
                <option value="2">A-</option>
                <option value="2">AB+</option>
                <option value="2">AB-</option>
                <option value="2">O+</option>
                <option value="2">O-</option>
                <option value="2">B+</option>
                <option value="2">B-</option>
              </select>

            <label>Disease:</label>
            <input type="text" name="name" id="name" class="form-control">

            <div class="form-check mt-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Success
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Discard
                </label>
              </div>
              
            <label>Reason</label>



            <div class="md-form">
                <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
                
              </div>
              

            

              <button class="btn btn-primary mt-2 w-100">Submit</button>
            </form>
            
        </div>
    </div>
    </div>
</div>




<div class="container my-5">

    <footer class="text-center text-lg-start bg-primary static-bottom">
     
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="height: 60px;">
        © 2020 Copyright:Blood banking information system
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
  <!-- End of .container -->

